<div class="row">
    <div class="col">
        <div class="home-review">
            <div class="home-review__text">
                <div class="cloud-text">
                    <h5 class="cloud-text__header">Efficient Collaborating</h5>
                    <p class="cloud-text__review">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem.</p>
                </div><!-- .cloud-text-->
            </div>
            <div class="home-review__author">
                <div class="review-author">
                    <img src="images/reviews-photo/reviewer.png" alt="reviews-photo">
                    <p class="review-author__name">Jane Cooper</p>
                    <p class="review-author__prof">CEO at ABC Corporation</p>
                </div>
            </div>
        </div><!-- .home-review-->
    </div><!-- .col-->

    <div class="col">
        <div class="home-review">
            <div class="home-review__text">
                <div class="cloud-text">
                    <h5 class="cloud-text__header">Intuitive Design</h5>
                    <p class="cloud-text__review">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem.</p>
                </div><!-- .cloud-text-->
            </div>
            <div class="home-review__author">
                <div class="review-author">
                    <img src="images/reviews-photo/reviewer.png" alt="reviews-photo">
                    <p class="review-author__name">Jane Cooper</p>
                    <p class="review-author__prof">CEO at ABC Corporation</p>
                </div>
            </div>
        </div><!-- .home-review-->
    </div><!-- .col-->

    <div class="col">
        <div class="home-review">
            <div class="home-review__text">
                <div class="cloud-text">
                    <h5 class="cloud-text__header">Mindblowing Service</h5>
                    <p class="cloud-text__review">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.
                        Auctor
                        neque sed imperdiet nibh lectus feugiat nunc sem.</p>
                </div>
            </div>
            <div class="home-review__author">
                <div class="review-author">
                    <img src="images/reviews-photo/reviewer.png" alt="reviews-photo">
                    <p class="review-author__name">Jane Cooper</p>
                    <p class="review-author__prof">CEO at ABC Corporation</p>
                </div>
            </div>
        </div><!-- .home-review-->
    </div><!-- .col-->
</div><!-- .row-->
