h1 {
    font: $h1;
}

h2 {
    font: $h2;
}

h3 {
    font: $h3;
}

h4 {
    font: $h4;
}

h5 {
    font: $h5;
}

h6 {
    font: $h6;
}

p {
    font-family: $main-font;
}

.page-section {
    margin-bottom: 60px;
}

@media (min-width: 576px) {
    .bg-img {
        background-image: url('../images/decoration/circles.svg');
        background-repeat: no-repeat;
        background-position: right -50px top -190px;
    }
}

.mobile-hidden {
    display: none;
}

@media (min-width: 576px) {
    .mobile-hidden {
        display: block;
    }
}
