.wrapper-logos {
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  border-image: linear-gradient(90deg, $white, $light-gray, $white) 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
}
