.decoration-block {
  background-color: $lilac;
  border-radius: 10px;

  &__img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.content-block {
  &__title {
    margin-bottom: 20px;
  }

  &__paragraph {
    margin-bottom: 30px;
    line-height: 2;
  }
  
  @media (min-width: 1200px) {
    &__title_white {
      color: $white;
    }

    &__paragraph_white {
      color: $white;
    }
  }

  @media (min-width: 1200px) {
    padding-left: 40px;
  }

  @media (min-width: 992px) {
    padding-right: 110px;
  }
}

@media (min-width: 1200px) {
  .wrapper-bg-img {
    background-image: url("../images/decoration/bg-img-purple.svg");
    background-repeat: no-repeat;
    background-position: 0;
  }
}
