.footer-bg {
  background-color: $black;
  padding: 30px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: $light-gray;

    &:hover {
      color: $dark-turquoise;
    }
  }
}

.footer-copyright {
  color: $light-gray;
  text-align: right;
}
