.greeting-content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.greeting-content__title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .greeting-content__title {
        font-weight: 900;
        font-size: 5rem;
        margin-bottom: 20px;
    }
}

.greeting-content__text {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.greeting-decoration {
    text-align: center;
}

.greeting-decoration__image {
    max-width: 100%;
}
