.processing-stage {
  text-align: center;

  &__number {
    font-family: $main-font;
    font-size: 4.5rem;
    font-weight: 900;
    color: $dark-white;
    height: 75px;
  }

  &__title {
    font-family: $main-font;
    font-size: 1.2rem;
    position: relative;
    top: -15px;
  }

  &__text {
    letter-spacing: 0.3px;
    font-family: Inter,sans-serif;
    padding: 0 40px;
  }

  &:hover &__number {
    color: $light-turquoise;
  }

  &:hover &__title {
    color: $dark-turquoise;
  }
}
