.section-header {
  text-align: center;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 14px;
    letter-spacing: 1.2px;
  }

  &__paragraph {
    font-size: 1.1rem;
    letter-spacing: 0.1px;
  }
}

.cloud-text {
  position: relative;
  background-color: $light-light-gray;
  border-radius: 10px;
  padding: 30px;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    background-color: $light-light-gray;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    bottom: -10px;
    transform: rotate(45deg);
    border-radius: 3px;
    right: 0;
    left: 0;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: $turquoise;
  border-radius: 50%;
  border: none;
  z-index: 1;
}

.dot.active {
  width: 15px;
  height: 18px;
  background-color: transparent;
  border: 5px solid $turquoise;
}

.carousel-dots {
  text-align: center;
}

.home-review__text {
  width: 380px;
  margin: 0 auto 30px;
}

.review-author {
  text-align: center;
}

.home-review__author {
  text-align: center;
}

.review-author__name {
  font-weight: bold;
  font-size: 1.2rem;
}

.review-author__prof {
  color: $light-black;
}
