.processing-step {
  text-align: center;

  &__image {
    margin-bottom: 15px;
  }

  &__subtitle {
    letter-spacing: 0.5px;
  }

  &__text {
    letter-spacing: 0.3px;
    font-family: Inter,sans-serif;
  }
}
