$btn-border-radius: 6px;
$size-sm: sm;
$size-md: md;
$size-lg: lg;
$size-none: none;

@mixin btn-sm {
    height: 28px;
    padding: 6px 12px;
}

@mixin btn-md {
    height: 40px;
    padding: 10px 20px;
}

@mixin btn-lg {
    height: 48px;
    padding: 12px 32px;
}

@mixin btn ($size, $bg-color, $color: $white, $border: none) {
    @if $size == $size-sm {
        @include btn-sm();
    } @else if $size == $size-md {
        @include btn-md();
    } @else if $size == $size-lg {
        @include btn-lg();
    }

    background-color: $bg-color;
    border: $border;
    border-radius: $btn-border-radius;
    color: $color;
    text-align: center;
    display: inline-block;
    line-height: 1;
}

.btn-sm {
    @include btn($size-sm, $purple);
}

.btn-sm-light {
    @include btn($size-sm, $lilac, $purple);
}

.btn-sm-transparent {
    @include btn($size-sm, transparent, $white, 1px solid $white);
}

.btn-md {
    @include btn($size-md, $purple);
}

.btn-md-light {
    @include btn($size-md, $lilac, $purple);
}

.btn-md-transparent {
    @include btn($size-md, transparent, $white, 1px solid $white);
}

.btn-lg {
    @include btn($size-lg, $purple);
}

.btn-lg-light {
    @include btn($size-lg, $lilac, $purple);
}

.btn-lg-transparent {
    @include btn($size-lg, transparent, $white, 1px solid $white);
}

@mixin btn-arrow($color) {
    font-weight: bold;
    @include btn($size-none, transparent, $color);

    &::after {
        content: "➞";
    }
}

.btn-arrow-dark {
    @include btn-arrow($purple);
}

.btn-arrow-light {
    @include btn-arrow($white);
}
