$black: black;
$light-black: #474A57;
$gray: #969BAB;
$light-gray: #D9DBE1;
$light-light-gray: #EEEFF4;
$dark-white: #F4F5F7;
$white: white;

$purple: #8C30F5;
$light-purple: #D6B1FF;
$lilac: #F1E4FF;

$dark-turquoise: #2EC5CE;
$turquoise: #75E3EA;
$light-turquoise: #D5FAFC;

$dark-orange: #FE9A22;
$orange: #FFC278;
$light-orange: #FFE3C1;

$dark-pink: #F22BB2;
$pink: #FF72D2;
$light-pink: #FFB1E6;

$pastel-green: #C1E5C0;
$pastel-blue: #C0DAE5;
$pastel-peach: #F39F9F;
$pastel-light-peach: #FDD9D9;
$pastel-cotton-candy: #FFC3D8;
$pastel-cyan: #A0DCFF;

$main-font: 'Inter', sans-serif;

$h1: 800 3.0rem $main-font;
$h2: 800 2.8rem $main-font;
$h3: 800 2.6rem $main-font;
$h4: 800 2.4rem $main-font;
$h5: 600 1.4rem $main-font;
$h6: 500 2.0rem $main-font;
